/* GENERAL */

* {
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #2e4053;
    color: #ffffff;
}

.container {
    padding: 10px 10%;
}

#header {
    width: 100%;
    height: 80vh;
    padding-top: 70px;
}

/* DESKTOP NAV */
#desktop-nav {
    position: sticky;
    z-index: 1000;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 rem;
    background-color: #14213d;
    /* position: sticky; */
}

.logo {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 20px;
    /* padding-left: ; */
}

.logo:hover {
    cursor: default;
}

.nav-links {
    display: flex;
    gap: 3rem;
    list-style: none;
    padding-right: 20px;
}

.nav-links li {
    font-size: 1.2rem;
    /* padding-right: ; */
}

a {
    color: rgb(255, 251, 251);
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: #fca311;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
    position: sticky;
    z-index: 1000;
    top: 0;
    width: 100%;
    /* width: 400px; */


}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    z-index: 9999;
    position: relative;
    margin-right: 20px;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: rgb(252, 252, 252);
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    /* background-color: #2e4053; */
    background-color: #14213d;
    width: fit-content;
    /* width: 100%; */
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
    color: whitesmoke;
    /* color: #14213d; */
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 400px;
    /* display: block; */
    /* color: white; */
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* HEADER */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-top: 85px
}

.header-text {
    width: 50%;
    text-align: left;
    padding-left: 50px;
}

.featured-image {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    padding-right: 60px;
}

.featured-image .image img {
    /* max-width: 100%; */
    width: 60vh;
    /* display: flex; */
    height: auto;

    border-radius: 50%;
    transition: transform 0.5s ease, box-shadow 0.5s ease;

}

.featured-image .image img:hover {
    transform: scale(1.2) rotate(5deg);

    box-shadow: 0 12px 10px rgba(200, 123, 123, 0.5);
}

.header-text p {
    font-size: 30px;
    color: #fca311;
    /* color: #14213d; */
}

.header-text h1 {
    font-size: 50px;
    margin-top: 20px;
}

.header-text h1 span {

    color: #fca311;
}
.text {
    font-size: 40px;
    font-weight: bold;
    color: #fca311; /* Adjust color */
    border-right: 3px solid #fca311; /*Cursor effect */
    padding-right: 5px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
/* about */
#about {
    padding: 80px 0;
    color: #e5e5e5;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 50px 50px 50px 1px;
}

.about-col-2 {
    flex-basis: 60%;

}

.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: #e5e5e5;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #e5e5e5;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after {
    width: 50px;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;

}

.tab-contents ul li span {
    color: #ff8e03;
    font-size: 14px;

}

.tab-contents {
    display: none;
    padding: 20px;

    background-color: #cbadad;

    border-radius: 10px;

    color: #070437;
}

.tab-contents.active-tab {
    display: block;
    /* color: red; */
    background-color: #f3f4f4;
    transition: background-color 0.3s ease-in-out;
    /* Smooth transition */
}
.skills-icon{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
}
.devicon-cplusplus-plain {
    font-size: 24px;
    color: #004172;
    margin-right: 10px;
}
#projects .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.project {
    padding: 20px;
    border: 2px solid #dcdcdc;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    background-color: #f3f4f4;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    /* Centers text horizontally */
}

.project h3 {
    font-size: 30px;
    color: #070437;
    margin: 0;
    /* Remove any default margins */
    /* No need for additional centering properties if flexbox is applied correctly */
}

/* Keep the rest of the styles as they are */
.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.project-container {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    text-align: center;
    /* Ensures children inherit text centering */
}

.project-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-top: 10px;

    border: 2px solid black;
    border-radius: 30px;
    background-color: #aab7b8;
    transition: all 0.3s ease-in-out;
}

.project-details p {
    margin: 5px 5px 50px 5px;
}

.project-details h2 {
    padding-top: 20px;
    color: #0b233d;
    padding-left: 10px;
}

.project-details:hover {
    background: #fca311;
    background: linear-gradient(rgba(65, 54, 54, 0.5), #fca311);
    transform: translateY(-10px);
}

.project-buttons {
    justify-content: flex-start;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.project-buttons .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 50px;
    margin-bottom: 5px;
}

.project-buttons .btn:first-child {
    background-color: rgb(255, 255, 255);
    color: black;
}

.project-buttons .btn:first-child:hover {
    background-color: black;
    transform: translatey(-3px);
    color: whitesmoke;
}

.project-buttons .btn:last-child {
    background-color: rgb(246, 246, 247);
    color: black;
}

.project-buttons .btn:last-child:hover {
    background-color: #020321;
    transform: translatey(-3px);
    color: whitesmoke;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

/* portfolio */
#portfolio {
    padding: 50px 0;
    text-align: center;
}

.worklist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
}

.work img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    object-position: center;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0), #fca311);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;

    text-align: center;
    transition: height 0.5s ease-in-out;
    box-sizing: border-box;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    word-wrap: break-word;

}

.layer a {
    margin-top: 20px;
    color: #fca311;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #fca311;
    padding: 14px 50px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;


}

.btn:hover {
    background: #fca311;
}

/* certificates */
#certificates {
    text-align: center;
}

.certificate {
    display: inline-block;
    margin: 20px;
}

#certificates h2 {

    font-size: 40px;
}

.certificate img {
    width: 300px;

    height: auto;
    border: 5px solid #fca311;
    border-radius: 10px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;

}

.certificate a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.certificate img:hover {
    transform: scale(1.1);

    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);

}

.certificate a:hover {
    text-decoration: underline;
}

/* contact */
#contact {
    padding: 20px;
}

#contact .container {
    display: flex;
    justify-content: center;
    /* Center both left and right sections */
    gap: 20px;
    /* Space between the left and right sections */
    flex-wrap: wrap;
    /* Wrap for smaller screens */
}


.contact-container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    /* Space between left and right sections */
    align-items: flex-start;
    flex-wrap: wrap;
    /* Wrap for smaller screens */
    gap: 20px;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;

}

.contact-left p i {
    color: #fca311;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;

}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #fca311;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #fca311;

}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #1e1e1e;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    background: #262626;
    font-weight: 200;
    margin-top: 20px;

}

.copyright i {
    color: red;
}