* {
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    background-color: #2e4053;
    color: #ffffff;
}

#header {
    width: 100%;
    height: 80vh;
    padding-top: 70px;
}

.container {
    padding: 10px 10%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #14213d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    left: 0;
    padding-left: 10px;
    padding-bottom: 7px;
    padding-top: 5px;

}

.nav ul {
    position: fixed;
    right: -200px;  /* Initially hidden */
    top: 0;
    width: 200px;
    height: 100vh;
    background: #111;  /* Change as per your theme */
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 60px; 
}

.logo {
    width: 140px;
    height: 50px;
    border-radius: 10px;

}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: center;

}

nav ul li a {
    text-decoration: none;
    color: #fff;  /* Adjust for visibility */
    font-size: 18px;


}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #fca311;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

#sidemenu {
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
    height: 100vh;
    background: #14213d;
    transition: right 0.3s ease-in-out;
    list-style: none;
    padding: 40px 20px;
}

#sidemenu .fa-circle-xmark {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: fff;
    cursor: pointer;
}
nav .fa-bars {
    display: none;  /* Hidden by default on large screens */
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    position: absolute;
    right: 20px;
    top: 20px;
}
.sidemenu .open {
    right: 0;
}

nav ul .fa-circle-xmark {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-top: 85px
}

.header-text {
    width: 50%;
    text-align: left;
}

.featured-image {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.featured-image .image img {
    width: 60vh;
    border-radius: 50%;
    transition: transform 0.5s ease, box-shadow 0.5s ease;

}

.featured-image .image img:hover {
    transform: scale(1.2) rotate(5deg);

    box-shadow: 0 12px 10px rgba(200, 123, 123, 0.5);
}

.header-text p {
    font-size: 40px;
    color: #fca311;
    /* color: #14213d; */
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {

    color: #fca311;
}

/* about */
#about {
    padding: 80px 0;
    color: #e5e5e5;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 50px 50px 50px 1px;
}

.about-col-2 {
    flex-basis: 60%;

}

.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: #e5e5e5;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #e5e5e5;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after {
    width: 50px;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;

}

.tab-contents ul li span {
    color: #ffc003;
    font-size: 14px;

}

.tab-contents {
    display: none;
    padding: 20px;

    background-color: #cbadad;

    border-radius: 10px;

    color: #070437;
}

.tab-contents.active-tab {
    display: block;
    /* color: red; */
    background-color: #f3f4f4;
    transition: background-color 0.3s ease-in-out;
    /* Smooth transition */
}

.project {
    padding: 20px;
    border: 2px solid #dcdcdc;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    background-color: #bfc9ca;
    background-color: #f3f4f4;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    transition: all 0.3s ease-in-out;


}

.project h3 {
    text-align: center;
    font-size: 30px;
    color: #070437;
    margin-bottom: 15px;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.project-container {
    display: grid;
    /* flex-wrap: wrap; */
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* justify-content: space-between; */
    padding: 20px;
}

.project-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-top: 10px;

    border: 2px solid black;
    border-radius: 30px;
    background-color: #aab7b8;
    /* padding: 10px; */
    transition: all 0.3s ease-in-out;


}

.project-details p {

    margin: 5px 5px 50px 5px;
}

.project-details h2 {
    padding-top: 20px;
    color: #0b233d;
    padding-left: 10px;

}

.project-details:hover {
    background: #fca311;
    background: linear-gradient(rgba(65, 54, 54, 0.5), #fca311);

    transform: translateY(-10px);



}

.project-buttons {
    justify-content: flex-start;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.project-buttons .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 50px;
    margin-bottom: 5px;

}

.project-buttons .btn:first-child {
    background-color: rgb(255, 255, 255);
    color: black;
}

.project-buttons .btn:first-child:hover {
    background-color: #218838;
    transform: translatey(-3px);
}

.project-buttons .btn:last-child {
    background-color: rgb(246, 246, 247);
    color: black;
}

.project-buttons .btn:last-child:hover {
    background-color: #020321;
    transform: translatey(-3px);
    color: whitesmoke;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

/* portfolio */
#portfolio {
    padding: 50px 0;

}

.worklist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
}

.work img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    object-position: center;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0), #fca311);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;

    text-align: center;
    transition: height 0.5s ease-in-out;
    box-sizing: border-box;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    word-wrap: break-word;

}

.layer a {
    margin-top: 20px;
    color: #fca311;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #fca311;
    padding: 14px 50px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;


}

.btn:hover {
    background: #fca311;
}

/* certificates */
#certificates {
    text-align: center;

}

.certificate {
    display: inline-block;
    margin: 20px;
}

#certificates h2 {

    font-size: 40px;
}

.certificate img {
    width: 300px;

    height: auto;
    border: 5px solid #fca311;
    border-radius: 10px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;

}

.certificate a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.certificate img:hover {
    transform: scale(1.1);

    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);

}

.certificate a:hover {
    text-decoration: underline;
}

/* contact */
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;

}

.contact-left p i {
    color: #fca311;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;

}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #fca311;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #fca311;

}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #1e1e1e;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    background: #262626;
    font-weight: 200;
    margin-top: 20px;

}

.copyright i {
    color: red;
}

/* media query */
nav .fa-regular {
    display: none;
}

nav .fa-solid {
    display: none;
}

@media (min-width:769px) {
    nav ul {
        position: static;
        display: flex;
        width: auto;
        background: none;
        padding: 0;
        justify-content: flex-end;
        align-items: center;
        width: auto;
        height: auto;
        background: none;
        

    }
    nav ul li{
        display: inline;
    }
    nav .fa-bars {
        display: none;
        /* Hide hamburger menu icon */
    }
}

@media (max-width: 768px) {

    nav ul {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        background: #14213d;
        /* width: 50%; */
        height: 100vh;
        padding: 50px 20px;
        transition: right 0.3s ease;
    }

    nav ul.active {
        right: 0;
    }

    nav .fa-bars {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    .header-content {
        flex-direction: column-reverse;
        text-align: center;
    }

    .featured-image {
        justify-content: center;
        margin-bottom: 20px;
    }

    .header-text h1 {
        font-size: 45px;
    }

    .header-text,
    .featured-image {
        width: 100%;

    }
}

@media only screen and (min-width: 585px)and (max-width:760px) {
    .header-text {
        font-size: 35px;
        order: 1;
    }

    .featured-image {
        padding-bottom: 50px;
    }

    .featured-image .image img {
        width: 50vh;
        padding-bottom: -5px;
    }

    .featured-image .image {
        padding-bottom: 50px;
    }
}

@media (max-width: 480px) {
    nav ul {
        width: 100%;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .header-text p {
        font-size: 25px;
    }

    .project-container {
        justify-content: center;
    }

    .btn {
        padding: 12px 30px;
    }
}

 @media only screen and (max-width:600px) {


    #header {
        height: auto;
        padding-top: 20px;
    }


    .about-col-1 img {
        width: 100%;
        border-radius: 30px;
    }

    nav .fa-regular {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul {
        background: #fca311;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.3s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-regular {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .subtitle {
        font-size: 40px;

    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;

    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }

    .worklist {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .layer {
        padding: 0px;
    }

    .layer h3 {
        font-size: 16px;
        
    }

    .layer p {
        font-size: 12px;
        line-height: 1.4;
    }

    .layer a {
        font-size: 14px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .header-content {
        flex-direction: column;
        align-items: center;

        text-align: center;
    }

    .header-text {
        width: 100%;
        margin: 20px 0;
        text-align: center;
    }

    .featured-image {
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
        order: -1;
    }

    .featured-image .image img {
        width: 100%;
    }
} 
#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}